<div class="body">
	<%= form_for(@new_video, :remote => true, :html => {:id => "broadcast"}) do |f| %>
		Name: <%= f.text_field :name, :required => true %><br/><br/>
		Public? <%= f.check_box :public %><br/><br/>

		<%= f.submit "Create Broadcast", :confirm => "Are you Sure?" %>
	<% end %>
</div>