<div class="footer">
	<table class="content_wrapper">
		<tr>
			<td>hey</td>
			<td>
				<p class="title">about</p>
				<p>xpress is a new way to talk to the people you love!</p>
				<p>the trail-blazers, leaders & inspirations in any area of life have a wealth of knowledge waiting to be unearthed & this is the perfect way to do it :)</p>
			</td>
			<td>hey</td>
			<td>hey</td>
		</tr>
	</table>
</div>