/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


 html, body { height: 100%; }
 body {
	margin: 0;
	padding: 0;
	font-family: 'proxima_nova_regular';
 }
@font-face {
    font-family: 'proxima_nova_regular';
    src: url('fonts/proxima_nova_reg-webfont.eot');
    src: url('fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_light';
    src: url('fonts/proxima_nova_light-webfont.eot');
    src: url('fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_thin';
    src: url('fonts/proximanova-thin-webfont.eot');
    src: url('fonts/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-thin-webfont.woff') format('woff'),
         url('fonts/proximanova-thin-webfont.ttf') format('truetype'),
         url('fonts/proximanova-thin-webfont.svg#proxima_novathin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('fonts/proxima_nova_bold-webfont.eot');
    src: url('fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

} 
 
 
 a { text-decoration: none; }
 
 input {
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #111;
	padding: 7px;
	transition: border 0.25s ease;
 }
 input:hover,
 input:focus {
	outline: none;
	border: 1px solid #aaa;
 }
 input[type="submit"]:hover {
	cursor: pointer;
 }
 
 /** Page Wrapper (for 100% height) **/
 .page_wrapper {
	min-height: 100%;
	margin-bottom: -285px; 
	padding-bottom: 40px;
 }
 .page_wrapper:after { 
	content: "";
	display: block;
 }
 
 /** Content Wrapper **/
 .content_wrapper {
	width: 900px;
	margin: auto;
 }
 
 /** Header Area **/
 .header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
 }
 .header .shadow {
	display: block;
	position: absolute;
	width: 100%; 
	height: 20px;
	bottom: 30px;
	background: url('header_shadow.png') top repeat-x;
	z-index: 5;
 }
 .header img {
	display: block;
	padding: 0;
	margin: 0;
 }
 
 /** Header Info **/
 .header .information {
	display: block;
	height: 250px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	background: url('header/2.png') bottom repeat-x;
 } 
 .header .welcome {
	display: inline-block;
	float: left;
	width: 375px;
	color: #fff;
	margin-top: 25px;
 }

 .header .welcome a { color: #fff; }
 .header .welcome .blurb {
	display: block;
	margin: 15px 0 0 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
 }
  .header .welcome p.title {
	display: block;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -1px;
 }
 
 .header .information .user_options {
	display: inline-block;
	float: right;
	width: 250px;
 }

 .user_options {
	margin-top: 40px;
 }
 .user_options a {
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	width: 220px;
	height: 65px;
	line-height: 65px;
	padding-left: 90px;
	margin: 0 0 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 2px solid;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
 }
  .user_options a:active {
	border-bottom-width: 0;
	top: 1px;
	padding-top: 2px;
  }
 
 .user_options a#login 			{
	background: #ed5153 url('login_icon.png') left bottom no-repeat;
	border-color: #b62527;
 }
 .user_options a#login:hover { background-color: #ed5657; }
 .user_options a#register 		{
	background: #51aded url('register_icon.png') left center no-repeat;
	border-color: #227ab7;	
 }
 
 .header .user { height: 170px !important; }
 .header .user .title {
	display: block;
	margin: auto;
	font-family: 'proxima_nova_thin';
	color: #fff;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
 }
 .header .user .title div 	{ display: block; }
 .header .user .title .main { font-size: 46px; letter-spacing: -3px; line-height: 30px; }
 .header .user .title .sub 	{ font-size: 22px; letter-spacing: -1px; opacity: 0.8; }
 
 
 .profile_options { 
	 position: absolute;
	 right: 0;
	 top: 15px;
 }
 .profile_options a {
	display: inline-block;
	color: #fff;
	font-size: 11px;
	transition: top 0.1s ease;
	padding: 5px;
	height: 14px;
	width: 14px;
	position: relative;
 }
 .profile_options a:active{ top: 1px; }
 
 .profile_options a#credits {
	background: url('credits_icon.png') 85% center no-repeat;
	width: 60px !important;
	padding-top: 7px !important;
	float: left;
 }
 .profile_options a#profile { background: url('profile_icon.png') center center no-repeat; } 
 .profile_options a#logout  { background: url('logout_icon.png') center center no-repeat; }


 
 /** Nav Bar **/
 .nav_bar {
	display: block;
	background: #ff0;
	color: #fff;
	padding: 0px 20px; 
	background: url('navigation_bg.png') repeat-x;
	text-transform: lowercase;
	position: relative;
	bottom: 50px;
	z-index: 5;
	text-align: center;
	min-height: 50px;
	max-height: 50px;
 }
 .nav_bar a {
 	color: #fff; 
	transition: top 0.1s ease, opacity 0.25s ease;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 17px 10px 13px 10px;
	position: relative;
 }
 
 .nav_bar #links 	{
	display: inline-block;
	width: auto;
 }

 .nav_bar #links.active a,
 .nav_bar #links:hover a.current,
 .nav_bar #links:hover a 	{ opacity: 0.6; }
 
 .nav_bar #links a.current,
 .nav_bar #links a.current:hover, 
 .nav_bar #links a:hover  	{ opacity: 1; }
 
 .nav_bar #links a:active  	{ opacity: 0.8; top: 2px; }

 
 
 
 /** Main Area **/
 .main {
	display: block;
	padding: 0 20px;
	font-size: 13px;
 }
 
 /** Members Display **/
 .members {
	display: block;
	text-align: center;
 }
 .members > div a {
	display: inline-block;
	width: 25%;
	height: 250px;
	text-align: center;
	opacity: 0.8;
	color: #fff;
	background: #000;
	padding: 120px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: opacity 0.25s ease;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
 }
 .members > div a:hover {
	opacity: 1;
 }

 /** Video Area **/
 #videobox {
  width: 100%;
  height: 100%;

  max-width: 800px;
  max-height: 600px;

  margin-right: auto;
  margin-left: auto;
 }

 #videobox object {
  float: left;
  display: inline-block;
 }

 
 /** Footer **/
 .footer, .page_wrapper:after { height: 285px; }
 .footer {
	display: block;
	background: #ececec;
	border-top: 2px solid #E0E0E0;
	text-align: center;
	text-transform: lowercase;
	color: #424242;
	padding: 40px 0 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
 }

 .footer table {
	height: 100%;

 }
 .footer table tr td {
	width: 25%;
	text-align: left;
	padding-top: 5px;
	transition: opacity 0.2s ease;
	padding: 0 20px;
	vertical-align: top;
 }	
 .footer td  p {
	font-size: 14px;
	display: block;
	padding-top: 0;
	margin-top: 0;
	color: #545454;
 }
 .footer tr td p.title {
	font-size: 19px;
	color: #0d0d0d;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: 'proxima_nova_bold';
 }
 
 .footer tr td .links a img {
	display: block;
	margin: 0;
	padding: 1px 0;
 }
 
 .footer tr td.main_links a {
	display: block;
	padding-left: 50px;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #2c2c2c;
	font-family: 'proxima_nova_light';
	transition: all 0.1s ease;
	position: relative;
 }
 
 .footer tr td.main_links a:hover  { color: #000; }
 .footer tr td.main_links a:active { top: 2px; }
 
 .footer tr td.main_links a#home	 { background: url("footer_icons/home.png") 5% center no-repeat; }
 .footer tr td.main_links a#support  { background: url("footer_icons/support.png") 5% center no-repeat; }
 .footer tr td.main_links a#pricing  { background: url("footer_icons/pricing.png") 5% center no-repeat; }
 .footer tr td.main_links a#how  	 { background: url("footer_icons/how.png") 5% center no-repeat; }
 .footer tr td.main_links a#tos  	 { background: url("footer_icons/tos.png") 5% center no-repeat; }
 .footer tr td.main_links a#privacy  { background: url("footer_icons/privacy.png") 5% center no-repeat; }
 
 .footer tr td .social_icons 			{ display: block; transition: opacity 0.25s ease; }
 .footer tr td .social_icons:hover a 	{ opacity: 0.8; }
 .footer tr td .social_icons a:hover 	{ opacity: 1; }
 
 .footer tr td .social_icons a {
	display: inline-block;
	height: 27px;
	width: 27px;
	transition: opacity 0.25s ease;
 }
 .footer tr td .social_icons a#facebook 	{ background: url("footer_icons/facebook.png") no-repeat; }
 .footer tr td .social_icons a#twitter  	{ background: url("footer_icons/twitter.png") no-repeat; }
 .footer tr td .social_icons a#pinterest 	{ background: url("footer_icons/pinterest.png") no-repeat; }
 .footer tr td .social_icons a#googleplus 	{ background: url("footer_icons/googleplus.png") no-repeat; }
 .footer tr td .social_icons a#fusion 		{ background: url("footer_icons/fusion.png") no-repeat; }
 .footer tr td .social_icons a#tumblr 		{ background: url("footer_icons/tumblr.png") no-repeat; }
#videobox {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto; }

#videobox object {
  float: left; }
