Welcome <b><%= @user.email %></b>!
	<hr />
	<p>You registered <b><%= time_ago_in_words( @user.created_at ) %></b> ago</p>
	<p>You have <b><%= number_to_currency(@credits, :unit => "£")  %> Credits</b> in your account</p>
	
