//*-- Apply Loading Icon To Ajax Requests --*/

(function( $ ){
   $.fn.loading = function() {
	 
	 var loading_gif = "<div class=\"loading\"><img src='<%= asset_path('loading.gif') %>'></div>";
	 $(this).html(loading_gif).fadeIn('150'); 
	  
   }; 
})( jQuery );