//*-- Users Profile Javascript --*/
//= require ios7_switches
//= require loading


/*-- Inline Edit --*/
/*-- CHANGE URL!!!! --*/
	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.ajaxOptions = {type: "PUT"};
		
	$('#description').editable({
			autotext: true,
			type: 'textarea',
			unsavedclass: null,
			emptytext: 'Please add a description!!',
			emptyclass: null,
			url: '/profile/11',
			pk: '11',
			name: 'description',
			data: {upload: {description: 'test'}},
			success: function(response, newValue) {
				console.log('success')
			},
			error: function(response) {
				console.log(response);
			}
	});	
	$('#edit_description').on('click', function(e) {
		e.stopPropagation();
        e.preventDefault();
		$('#description').editable('toggle');
	});
	


	
/*-- Create Broadcast Ajax --*/
	$(document).on('ajax:beforeSend', '#broadcast', function(){
		$('#broadcast').loading();
	}).on('ajax:complete', '#broadcast', function(evt, data, status, xhr){
		$('#new_broadcast .body').html(data.responseText);
	});

/*-- Public Checkbox --*/

	if ($('#upload_public').length > 0) { 

		$('#upload_public').ios_switch( $('#upload_public') );	
		$('#upload_public').on('change', function(e) {
		
			//Full Loading
			$(this).full_loading();
		
			$.ajax({
				type: 'PATCH',
				url: $(this).parent().prop('action'),
				data: $(this).serialize( { checkboxesAsBools: true }),
				success: function(data){
				  $(this).full_loading();
				},
				error: function(data) {
					$(this).full_loading();
					console.log(data);
				}
			});
			
		});	
		
	};

/*-- Delete Portfolio Picture --*/

	$('#images').on('click', 'a', function(e) {
		var id = $(this).attr('id');

		$('#' + id).parent().prepend('<div class="loading overlay">&nbsp;</div>').hide().fadeIn('100');
		
		$.ajax({
			type: 'DELETE',
			url: 'portfolio/' + id,
			dataType: 'json',
			success: function(result) {
				//remove loading
				$('#' + id).parent().fadeOut('100', function(){
					$(this).remove();
				});
				$('#portfolio_count').hide().html(result.items).fadeIn();
			},
			error: function(result) {
				$('#' + id).parent().fadeOut('100', function(){
					$(this).remove();
				});
				console.log(result);
			}
		});
		
		return false;
	});

	
/*-- File Uploaders --*/

	/** - Portfolio - **/
	$('#portfolio').fileupload({
	
		url: '/portfolio',
		dataType: 'script',
		type: 'post',
		
		add: function (e, data) {
			data.submit();
			$('.images').append('<div class="image"><div class="loading">&nbsp;</div></div>').fadeIn('fast');
		},
		success: function (data, status) {
			$('#portfolio_count').hide().html(items).fadeIn();
			$('.images .image:last').html(jstext);
		}
		
	});
	
	
	/** - Avatar - **/
	$('#avatar').fileupload({
	
		url: '/profile/' + $(this).attr('data_id'),
		dataType: 'json',
		type: 'post',
		
		add: function (e, data) {
			//$(".items .avatar .avatar").prepend('<div class="loading" id="avatar_loading"><img src="<%= asset_path("profile/avatar_loading.gif") %>"></div>');
			//$('#avatar_loading').fadeIn('100');
			$(this).avatar_loading('avatar_loading');
			data.submit();
		},
		success: function (data, status) {;
			$("#avatar_img").fadeOut('fast', function() {
				$(this).attr("src", data.avatar_url).fadeIn('fast', function(){
					$(this).avatar_loading('avatar_loading');
				});
			});
		}
		
	});