//*-- Users Profile Javascript --*/
//= require ios7_switches
//= require loading


/*-- Inline Edit --*/
/*-- CHANGE URL!!!! --*/
	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.ajaxOptions = {type: "PUT"};
		
	$('#description').editable({
			autotext: true,
			type: 'textarea',
			unsavedclass: null,
			emptytext: 'Please add a description!!',
			emptyclass: null,
			url: '/profile/11',
			success: function(response, newValue) {
				console.log('success')
			}
	});	
	$('#edit_description').on('click', function(e) {
		e.stopPropagation();
        e.preventDefault();
		$('#description').editable('toggle');
	});

	
/*-- Create Broadcast Ajax --*/
	$(document).on('ajax:beforeSend', '#broadcast', function(){
		$('#broadcast').loading();
	}).on('ajax:complete', '#broadcast', function(evt, data, status, xhr){
		$('#new_broadcast .body').html(data.responseText);
	});

/*-- Public Checkbox --*/

	if ($('#upload_public').length > 0) { 

		$('#upload_public').ios_switch( $('#upload_public') );	
		$('#upload_public').on('change', function(e) {
		
			//Full Loading
			$(this).full_loading();
		
			$.ajax({
				type: 'PATCH',
				url: $(this).parent().prop('action'),
				data: $(this).serialize( { checkboxesAsBools: true }),
				success: function(data){
				  $(this).full_loading();
				},
				error: function(data) {
					$(this).full_loading();
					console.log(data);
				}
			});
			
		});	
		
	};


/*-- File Uploaders --*/

	/** - Portfolio - **/
	$('#portfolio').fileupload({
	
		url: '/portfolio',
		dataType: 'script',
		type: 'post',
		
		add: function (e, data) {
			$('.images  > tbody tr:last').append('<td class="loading"></td>')
			data.submit();
		},
		success: function (data, status) {
			$('.images  > tbody tr td:last').removeClass('loading');
			$('.images  > tbody tr td:last').append(jstext);
		}
		
	});
	
	
	/** - Avatar - **/
	$('#avatar').fileupload({
	
		url: '/profile/11',
		dataType: 'json',
		type: 'post',
		
		add: function (e, data) {
			//$(".items .avatar .avatar").prepend('<div class="loading" id="avatar_loading"><img src="<%= asset_path("profile/avatar_loading.gif") %>"></div>');
			//$('#avatar_loading').fadeIn('100');
			$(this).avatar_loading('avatar_loading');
			data.submit();
		},
		success: function (data, status) {;
			$("#avatar_img").fadeOut('fast', function() {
				$(this).attr("src", data.avatar_url).fadeIn('fast', function(){
					$(this).avatar_loading('avatar_loading');
				});
			});
		}
		
	});