/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body { height: 100%; }
 body {
	margin: 0;
	padding: 0;
	font-family: 'proxima_nova_regular';
 }
@font-face {
    font-family: 'proxima_nova_regular';
    src: url('fonts/proxima_nova_reg-webfont.eot');
    src: url('fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proxima_nova_light-webfont.eot');
    src: url('fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
 
 a { text-decoration: none; }
 
 input {
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #111;
	padding: 7px;
	transition: border 0.25s ease;
 }
 input:hover,
 input:focus {
	outline: none;
	border: 1px solid #aaa;
 }
 input[type="submit"]:hover {
	cursor: pointer;
 }
 
 /** Page Wrapper (for 100% height) **/
 .page_wrapper {
	min-height: 100%;
	margin-bottom: -285px; 
	padding-bottom: 40px;
 }
 .page_wrapper:after { 
	content: "";
	display: block;
 }
 
 /** Content Wrapper **/
 .content_wrapper {
	width: 60%;
	margin: auto;
 }
 
 /** Header Area **/
 .header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
 }
 .header:after {
	display: block;
	width: 100%; 
	position: absolute;
	bottom: 38px;
	content: url('header_shadow.png');
	z-index: 5;
 }
 .header img {
	display: block;
	padding: 0;
	margin: 0;
 }
 
 /** Header Info **/
 .header .information {
	display: block;
	height: 250px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	background: url('header/1.png') bottom repeat-x;
 }
 
 .header .information .user_options {
	display: inline-block;
	float: right;
	width: 250px;
	background: #ff0;
 }
 
 
 /** Nav Bar **/
 .nav_bar {
	display: block;
	background: #ff0;
	color: #fff;
	padding: 0px 20px; 
	background: url('navigation_bg.png') repeat-x;
	text-transform: lowercase;
	position: relative;
	bottom: 50px;
	z-index: 5;
	text-align: center;
	min-height: 50px;
 }
 .nav_bar a {
 	color: #fff; 
	transition: opacity 0.25s ease;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 17px 10px 13px 10px;
 }
 
 .nav_bar:hover a	{ opacity: 0.6; }
 .nav_bar a:hover 	{ opacity: 1;   }
 .nav_bar a:active  { opacity: 0.8; }
 
 
 /** Main Area **/
 .main {
	display: block;
	padding: 0 20px;
	font-size: 13px;
 }
 
 /** Members Display **/
 .members {
	display: block;
 }
 .members > div {
	display: inline-block;
	width: 25%;
	height: 250px;
	text-align: center;
 }
 
 /** Footer **/
 .footer, .page_wrapper:after { height: 285px; }
 .footer {
	display: block;
	background: #ececec;
	text-align: center;
	text-transform: lowercase;
	color: #aaa;
	padding: 20px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
 }
