<% if @members.empty? %>

	<div class="empty_category">No experts here</div>
	
<% else %>

	<div class="members">
		<% @members.each do |member| %>

			<div class="member">
				<%= link_to member.email, user_path(member.id) %>
			</div>
			
		<% end %>
	</div>
	
<% end %>