<% if @members.empty? %>

	<div class="empty_category">No experts here</div>
	
<% else %>

	<div class="members">
		<% @members.each do |member| %>

			<div class="member">
				<%= link_to user_path(member.id), :title => name?(member) do %>
					<%= image_tag(member.profile.avatar.url, :width => "225") %>
					<div class="name"><%= name?(member) %></div>
				<% end %>
			</div>
			
		<% end %>
	</div>
	
<% end %>