<% if @category_members.empty? %>

	No experts yet OMG!
	
<% else %>

	<div class="members">
		<% @category_members.each do |member| %>

			<div class="member">
				<%= link_to member.email, user_path(member.id) %>
			</div>
			
		<% end %>
	</div>
	
<% end %>