<% if @members.empty? %>

	No experts here OMG!
	
<% else %>

	<div class="members">
		<% @members.each do |member| %>

			<div class="member">
				<%= member.email %>
			</div>
			
		<% end %>
	</div>
	
<% end %>